<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link th:replace="/fragments/fragments :: bootstrap_css">
    <link th:replace="/fragments/fragments :: fragment_css">
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <header th:replace="/fragments/fragments :: header"></header>
    <h1>MENU</h1>

    <div class="container-fluid">
        <div class="container">
            <div class="col-6" th:each="ls: ${LUNCH_SUSHI}">
                <div class="col-12">
                    <div class="y">
                        <p class="product-name" th:text="${ls.productName}"></p>
                        <p class="text-right" th:text="${ls.price}"></p>
                        <p class="" th:text="${ls.productDescription}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-md">
            <div th:each="entrees: ${LUNCH_ENTREES}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="ln: ${LUNCH_NOODLES}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="bb: ${LUNCH_BENTO_BOX}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="dinner: ${DINNER}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="fr: ${FUNKY_ROLLS}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="ns: ${NIGIRI_SUSHI}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="ms: ${MAKI_SUSHI}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="nms: ${NIGIRI_AND_MAKI_SUSHI}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="snm: ${SASHIMI_NIGIRI_MAKI}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="sashimi: ${SASHIMI}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="appetizer: ${APPETIZER}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="dessert: ${DESSERT}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="ss: ${SOUP_AND_SALAD}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="so: ${SIDE_ORDER}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>
        <div class="container-md">
            <div th:each="bb: ${BENTO_BOX}" style="margin: 10px;">
                aisudnhaisdnpaisu iasundpiasn
            </div>
        </div>


    </div>

    <div th:replace="/fragments/fragments :: footer"></div>
    <script th:replace="/fragments/fragments :: jquery"></script>
    <script th:replace="/fragments/fragments :: bootstrap_js"></script>
</body>
</html>