<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:fragment="bootstrap_css">
    <link rel="stylesheet" href="../css/fragments.css" th:fragment="fragment_css">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar  navbar-dark bg-dark navbar-expand-lg " >
            <img src="" width="75" height="75" class="d-inline-block align-top" alt="">
            <a class="navbar-brand logo " href="#">
                Sushi2GO
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Order Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact</a>
                    </li>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Management</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/products/list">Products</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>

                </ul>
                <ul class="navbar-nav  ml-md-auto">
                    <li class="nav-item">
                        <a class="btn btn-dark btn-red" href="#"><span class="glyphicon glyphicon-user"></span>Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark" href="#"> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark" href="#"><img src="../img/icons/cart-69-32.png"> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <footer class="footer fixed-bottom" th:fragment="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-lg-3 col align-self-center">
                    <nav class="icon-bar">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/pages/Sushi%202%20Go/130046903693978/" target="_blank">
                                    <img src="../img/icons/facebook-7-32.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/boogaby" target="_blank">
                                    <img src="../img/icons/twitter-4-32.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/sushi2go.ca/" target="_blank">
                                    <img src="../img/icons/instagram-32.png">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="copy-rights"> &copy; Copyright 2020 Sushi2GO - Powered by Wagdy Navas | wagdynavas@gmail.com</p>
        </div>

    </footer>
    <script src="/webjars/jquery/3.4.1/jquery.min.js" th:fragment="jquery"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:fragment="bootstrap_js"></script>
</body>
</html>