@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

#delivery-wrapper {

}

 h2 {
    color: rgb(128, 5, 33);
    margin-top: 30px;
    margin-bottom: 20px;
}

.delivery-type {
    margin-top: 30px;
    margin-right: 1%;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
}


.delete-btn {
    color: #000000;
}

.delete-btn:hover{
    color: rgb(128, 5, 33);
}

.hidden {
    display: none;
}

.address-container {
    margin-top: 20px;
}


.checkout-container {

}



.divisor {
    border-top: solid;
    border-width: thin;
    color: #bbbbbb;
    margin-bottom: 20px;
}

.total-amount-value {
    font-weight: 600;
}

.tips {
    margin-bottom: 3rem;
}

.tips p{
    font-weight: 500;
    font-size: 1.4em
}

.wrapper {
    min-height: calc(100vh - 160px);
}

.footer {
    height: 150px;
}