html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.icon-bar {
    margin-top: 5%;
    padding: 2%;
}

.icon-bar ul {
    list-style: none;
}

.icon-bar ul li {
    display: inline-block;
    margin-left: 10px;
}

.footer.ul li a{
    text-decoration: none;
}

.footer {
    background-color: #343a40;
    width: 100%;
    text-align: center;
}

.copy-rights {
    color: white;
    margin-top: 4%;
}

.btn-red {
    background-color: rgb(128, 5, 33); !important;
}

.logo {
    width: 180px;
    height: 60px;
    margin-bottom: 1%;
    margin-right: 3%;
}

.nav-right {
    margin-right: 1%;
}

.nav-item-li {
    margin-left: 10px;
}

.cart-basket {
    width: 20px;
    padding:3px;
    opacity:0.9;
    font-size: .8rem;

    position: relative;
    top: -50px;
    right: -29px;
    color: #fff;
    background-color: rgb(128, 5, 33);
    border-radius: 50%;
    font-weight: bold;
}
