* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}


#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.content-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}


.text-container {
    height: 300px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-title {
    background-image: url("../img/menu/title/menu-title.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-title h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    color: rgb(128, 5, 33); !important;
}

.sub-menu {
    background-color: #F7F7F7;
}

.sub-menu-top {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}



.hide-menu {
    display: none;
}


 h2{
    font-size: 1.3em;
    color: rgb(128, 5, 33); !important;
    margin-bottom: 30px;
}

.product-container h1 {
    margin-top: 100px;
}

.product-name {
    font-weight: bold;
}

.create-product {
    margin-top: 15px;
    margin-bottom: 15px;
}



.product-container {
    min-height: 85%;
}

.all-product-container {
    min-height: 100%;
}

.main {
    padding-bottom: 100px;
}

.product-footer {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -100px;
    clear: both;
}

.menu-image {
    height: auto;
    width: 100%;
}

.menu-image-modal {
    width: 100%;
}

.close-modal {
    font-size: 3em;
}


.price {
    position: relative;
    margin-top: 55px;
    font-weight: bold;
}

.row {
    margin-bottom: 10px;
}



.product-item {
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.1);
}


.product-item:hover{
    background-color: #f7f7f7;
}


.add-remove-btn {
    font-weight: bold;
    background-color: #f7f7f7;;
}

h5 {
    font-size: 1.8em;
}

.product-id {
    display: none;
}

#lunch_sushi {
    height: 80px;
}

#lunch_entrees {
    height: 80px;
}
#lunch_noodles {
    height: 80px;
}

#lunch_bento_box {
    height: 80px;
}

#dinner {
    height: 80px;
}

#funky_roll {
    height: 80px;
}

#nigiri_sushi {
    height: 80px;
}

#maki_sushi {
    height: 80px;
}


