<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link th:replace="/fragments/fragments :: bootstrap_css">
    <link th:replace="/fragments/fragments :: fragment_css">
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="/fragments/fragments :: header"></header>

<div class="container-fluid checkout-container">
    <div class="wrapper">
        <div class="form-group row">
            <div id="form-wrapper" class="col-12 col-lg-7 checkout-right">
                    <nav class="nav">
                        <!--  <button id="btn-delivery" type="button" class="btn btn-dark btn-red delivery-type active ">
                              <i class="fas fa-car"></i>
                              <span>Delivery</span>
                          </button> -->

                        <button id="btn-pickup" type="button" class="btn btn-dark btn-red delivery-type">
                            <i class="fas fa-walking"></i>
                            <span>Pickup</span>
                        </button>
                    </nav>
                    <!--  <div id="delivery-wrapper">
                          <h2>Deliver Details</h2>
                          <div class="row">
                              <div class="form-group col-12 col-lg-9">
                                  <select th:field="*{restaurantBranch}" class="form-control form-control-lg" placeholder="">
                                      <option th:value="${null}">Select restaurant branch</option>
                                      <option th:value="${rbs.getValue()}" th:each="rbs : ${restaurantBranch}" th:text="${rbs.getLabel()}"></option>
                                  </select>
                              </div>

                              <div class="form-group col-12 col-lg-9">
                                  <input th:field="*{deliverAddress}" type="text" class="form-control form-control-lg" placeholder="Enter delivery address">
                              </div>

                              <div class="form-group col-12 col-lg-9">
                                  <input th:field="*{deliverAddressComplement}" type="text" class="form-control form-control-lg"
                                         placeholder="Apartment, suite, floor, etc..">
                              </div>

                              <div class="form-group col-12 col-lg-9">
                                  <textarea rows="2" th:field="*{deliverInstructions}" class="form-control form-control-lg"
                                            placeholder="Add deliver instructions"></textarea>
                              </div>
                          </div>
                      </div> -->
                 <form id="from" class="form-group" method="post" th:object="${checkoutOrder}" action="/checkout/save-and-continue">
                    <div id="pickup-wrapper" class="">
                        <h2>Pickup Details</h2>
                        <div class="row">
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please Correct Errors Below</p>
                            </div>
                            <div class="form-group col-12 col-lg-9 ">
                                <p>Choose a Sushi2go location.</p>
                                <div id="locations-selector" class="btn-group btn-group-toggle locations" data-toggle="buttons">
                                    <label class="btn btn-lg btn-light btn-location">
                                        <input type="radio" name="locations" value="DUNDAS" id="location1"> Dundas
                                    </label>
                                    <label class="btn btn-lg btn-light btn-location active">
                                        <input type="radio" name="locations" value="ROYAL_YORK" id="location2" checked> Royal York
                                    </label>
                                    <label class="btn btn-lg btn-light btn-location">
                                        <input type="radio" name="locations" value="QUEENSWAY" id="location3"> Queensway
                                    </label>
                                </div>
                                <div class="row">
                                    <div id="queensway" class="col-12 address-container hidden">
                                        <h4>Queensway & Islington (Queensway)</h4>
                                        <p> Open Monday to Saturday<br> Tel 416-259-4246, 416-259-4665<br>
                                            Address: 892 The Queensway</p>
                                    </div>
                                    <div id="dundas" class="col-12  address-container hidden">
                                        <h4>Dundas & Kipling (Dundas)</h4>
                                        <p> Open Monday to Saturday <br> Tel 416-233-4227 <br>
                                            Address: 5280 Dundas St.West</p>
                                    </div>

                                    <div id="royal-york" class="col-12  address-container hidden">
                                        <h4>Bloor & Royal York (Royal York)</h4>
                                        <p> Open Tuesday to Sunday<br> 416-232-9030, 416-236-5909<br>
                                            Address: 2976 Bloor St.West</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('customer.customerName')}">
                                            <label th:errors="*{customer.customerName}"></label>
                                        </div>
                                        <input type="text" th:field="*{customer.customerName}" class="form-control" name="customerName" placeholder="Name:">
                                    </div>

                                    <div class="col-12 form-group">
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('customer.customerEmail')}">
                                            <label th:errors="*{customer.customerEmail}"></label>
                                        </div>
                                        <input type="text" th:field="*{customer.customerEmail}" class="form-control" name="customerEmail" placeholder="Email:">
                                    </div>

                                    <div class="col-12 form-group">
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('customer.customerPhone')}">
                                            <label th:errors="*{customer.customerPhone}"></label>
                                        </div>
                                        <input type="tel" th:field="*{customer.customerPhone}" class="form-control" name="customerPhone" placeholder="Phone:" >
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <p>Show your support with a tip.</p>
                                        <div class="btn-group btn-group-toggle tips" data-toggle="buttons">
                                            <label class="btn  btn-light btn-tip">
                                                <input type="radio" name="options" value="10" id="option1"> 10%
                                            </label>
                                            <label class="btn  btn-light btn-tip active">
                                                <input type="radio" name="options" value="15" id="option2" checked> 15%
                                            </label>
                                            <label class="btn  btn-light btn-tip">
                                                <input type="radio" name="options" value="20" id="option3"> 20%
                                            </label>
                                            <label class="btn  btn-light btn-tip">
                                                <input type="radio" name="options" value="25" id="option4"> 25%
                                            </label>
                                            <label class="btn btn-light btn-tip">
                                                <input type="radio" name="options" value="0" id="option6"> No Thanks
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  type="submit" class="btn btn-dark btn-red btn-lg form-control col-12 col-lg-9" value="Save & Continue"/>
                    </div>
                <form>
            </div>


            <div class="col-12 col-lg-4">
                        <h2>Your Order</h2>
                        <div th:each="product : ${checkoutOrder.products}" class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div th:text="${product.getQuantity()}" class="col-1"></div>
                                    <div th:text="${product.getProductName()}" class="col-6"></div>
                                    <div th:text="'$' + ${product.getPrice()}" class="col-3"></div>
                                    <a class="delete-btn" th:href="@{/checkout/delete/{id}(id=${product.getId()})}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-11 divisor"></div>
                        </div>
                        <div class="row">
                            <label class="col-7">Subtotal:</label>
                            <div class="col-3" th:text=" '$' + ${checkoutOrder.subTotalAmount}"></div>
                        </div>
                        <div class="row">
                            <label class="col-7">Tip:</label>
                            <div id="tip" class="tip col-3"></div>
                        </div>

                        <div class="row">
                            <label class="col-7">Taxes:</label>
                            <div class="col-3" th:text=" '$' + ${checkoutOrder.tax}"></div>
                        </div>
                        <div class="row">
                            <label class="col-7"><strong>Total:</strong></label>
                            <div id="totalAmount" class="col-3 total-amount-value"></div>
                        </div>
                <div class="form-group">
                    <input id="checkout-button" class="btn btn-dark btn-red btn-lg cursor-disabled form-control col-12" value="Checkout"/>
                </div>
            </div>
        </div>
    </div>
   <!-- <form class="form-horizontal" method="POST" action="/charge" th:object="${checkoutOrder}"> -->

<!-- </form> -->

</div>
<div class="footer" th:replace="/fragments/fragments :: footer"></div>



<script th:replace="/fragments/fragments :: jquery"></script>
<script th:replace="/fragments/fragments :: bootstrap_js"></script>
<script  src="/js/checkout.js"></script>
<script th:inline="javascript">


    // Create an instance of the Stripe object with your publishable API key
    let stripe =Stripe('pk_test_51HgH1FGRXCYNFhPCNMunxSJwfwvQ0ByuLuVV66NokzN14olynK8s2uYOf8g7gExiahYFjKZM8jEQtecc76JBXSEh00n09awOLA');
    let checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
            method: 'POST',
        })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                console.log(session)
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function(result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
    });
</script>
<script th:inline="javascript">
    const subTotal = /*[[${subTotal}]]*/ 'default';
    let isOrderSaved = /*[[${isOrderSaved}]]*/ 'default';

    $(document).ready(function () {
        $('.btn-tip').on("change", function(){
            setTipValueView()
            setTotalAmountView();
        });
    });



    document.addEventListener("DOMContentLoaded", function(){
        setTotalAmountView();
        setTipValueView();

        if(isOrderSaved) {
            $("#checkout-button").removeClass("cursor-disabled");
            $("#form-wrapper").addClass("disable-from");
        }

    });


    function setTipValueView() {
        let tipPercentage = $('input[name="options"]:checked').val();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: 'checkout/tips?tipPercentage=' + tipPercentage + "&subTotal=" + subTotal,
            data: {tipPercentage: tipPercentage, subTotal: subTotal},
            success: function(response){
                let divTip = document.getElementById('tip');
                divTip.innerHTML =  "$" + parseFloat(response).toFixed(2)
            },
            error: function(error){
                console.error('Error:', error);
            }
        });
    }


    function setTotalAmountView() {
        let tax = /*[[${tax}]]*/ 'default';
        let tipPercentage = $('input[name="options"]:checked').val();
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: 'checkout/totalAmount?tipPercentage=' + tipPercentage + "&tax=" + tax + "&subTotal=" + subTotal,
            success: function(response){
                let divAmount = document.getElementById('totalAmount');
                divAmount.innerHTML =  "$" + parseFloat(response).toFixed(2)
            },
            error: function(error){
                console.error('Error:', error);
            }
        });
    }

</script>
</body>
</html>